body {
    color: lightgray;
    background-color: #111112;
    font-family: consolas;
}

header {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
}

.nav_menu {
    margin-right: 40px;
    color: #555;
}

.trigger {
    padding: 25px;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 38px;
    margin-top: 27px;
}

.trigger i:before {
    transition: .3s;
    z-index: 999;
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    top: 14px;
    background-color: #fff;
}

.trigger i::after {
    transition: .3s;
    z-index: 999;
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    top: -14px;
    background-color: #fff;
}

.trigger i {
    transition: .3s;
    z-index: 999;
    width: 50px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
}

.none {
    display: none;
}

.nav_menu_item:first-child {
    cursor: context-menu;
    color: #fff;
    font-size: 16px;
}

.nav_menu_item:not(:last-child) {
    border-bottom: 1px solid gray;
}

.nav_menu_item:not(:first-child):hover {
    background-color: #fff;
    color: #000;
}

.nav_menu_item {
    z-index: 998;
    display: inline-block;
    padding: 17px 170px 15px 20px;
    background-color: #111;
    cursor: pointer;
    transition: .3s;
}

.nav_menu_main {
    z-index: 998;
    top: 0;
    margin-top: 20px;
    right: 0;    
    margin-right: -90px;
    transform: translateX(-40%);
    position: fixed;
    display: none;
    flex-direction: column;
}

.nav_menu input:checked~label .trigger i {
    background-color: #111;
    height: 0;
}

.nav_menu input:checked~label .trigger i::before {
    top: 0;
    transform: rotate(-45deg);
}

.nav_menu input:checked~label .trigger i::after {
    top: 0;
    transform: rotate(45deg);
}

.nav_menu input:checked~.nav_menu_main {
    display: flex;
}

.bannerText {
    width: 100%;
    padding-top: 230px;
    text-align: center;
}

.banner_header {
    font-size: 6vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.banner_descr {
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    max-width: 1100px;
    font-size: 30px;
}

.banner_skroll:hover::after {
    color: #fff;
}

.banner_skroll:hover::before {
    filter: blur(40px);
}

.banner_skroll:hover {
    background-color: inherit;
    color: #fff;
}

.banner_skroll:active {
    transform: scale(0.98);
}

.banner_skroll::after {
    content: '\2039';
    transition: .3s;
    position: absolute;
    right: 0;
    top: 35px;
    bottom: 0;
    left: -20px;
    color: #000;
    font-size: 35px;
    transform: rotate(270deg);
}

.banner_skroll::before {
    transition: .3s;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
}

.banner_skroll {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    outline: none;
    padding: 15px 50px;
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: color .3s, background-color .3s;
    margin-bottom: 40px;
}

.article::before {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px 15px 76px 101px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 15px 76px 101px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 15px 76px 101px rgba(0, 0, 0, 0.53);
    z-index: -10;
}

.article {
    z-index: 10;
    position: relative;
    -webkit-box-shadow: 1px -35px 141px 82px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -35px 141px 82px rgba(0, 0, 0, 0.75);
    box-shadow: 1px -35px 141px 82px rgba(0, 0, 0, 0.75);
    padding: 0 8%;
    min-height: 100vh;
    display: flex;
    text-align: right;
}
img{
    background-repeat: no-repeat;
    background-size: cover;
}
.article img {
    margin-top: 80px;
    width: 700px;
    margin-left: 40px;
}

.article_content h1 {
    margin-top: 80px;
    font-size: 42px;
    margin-bottom: 20px;
}

.article_content p {
    margin-bottom: 30px;
    font-size: 20px;
}

.article_content button::before {
    transition: .3s;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
}

.article_content button {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    outline: none;
    padding: 15px 50px;
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: color .3s, background-color .3s;
    margin-bottom: 60px;
}


.article_content button:hover::after {
    color: #fff;
}

.article_content button:hover::before {
    filter: blur(40px);
}

.article_content button:hover {
    background-color: inherit;
    color: #fff;
}

.break {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.img {
    background-attachment: fixed;
}

.galery::after {
    -webkit-box-shadow: 0px -140px 92px 111px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -140px 92px 111px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -140px 92px 111px rgba(0, 0, 0, 0.75);
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 100%;
    left: 0;

}

.galery::before {
    -webkit-box-shadow: 0px -140px 92px 111px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -140px 92px 111px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -140px 92px 111px rgba(0, 0, 0, 0.75);
    position: absolute;
    content: '';
    right: 0;
    top: 124%;
    bottom: 0;
    left: 0;

}

.galery {
    position: relative;
    text-align: center;
    min-height: 100vh;
    padding: 0 8%;
}

.galery h1 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 42px;
    color: #fff;
}

.galery p {
    font-size: 20px;
}

.blockList {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.blockList_item {
    overflow: hidden;
    position: relative;
}

.blockList_item>img {
    cursor: pointer;
}

.block_header {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    padding: 25px 0;
}

.block_hidedDescr {
    color: #000;
    position: absolute;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 0;
    left: 0;
    bottom: -200px;
    font-size: 16px;
    height: 200px;
}

.up {
    animation: up .5s;
    bottom: 200px;
}

.down {
    animation: down .5s;
    bottom: 0px;
}

.show {
    animation: showel .5s;
    bottom: 0px;
}

.hide {
    animation: hideel .5s;
    bottom: -200px;
}

@keyframes showel {
    0% {
        bottom: -200px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes hideel {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -200px;
    }
}

@keyframes up {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 200px;
    }
}

@keyframes down {
    0% {
        bottom: 200px;
    }

    100% {
        bottom: 0px;
    }
}

.Viewbtn::before {
    transition: .3s;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
}

.Viewbtn {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    outline: none;
    padding: 15px 50px;
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: color .3s, background-color .3s;
    margin-bottom: 60px;
}


.Viewbtn:hover::after {
    color: #fff;
}

.Viewbtn:hover::before {
    filter: blur(40px);
}

.Viewbtn:hover {
    background-color: inherit;
    color: #fff;
}


.footer {
    -webkit-box-shadow: 0px -40px 92px 111px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -40px 92px 111px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -40px 92px 111px rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo img {
    width: 40px;
    height: 40px;
    padding: 10px 60px;
}

.link_list {
    padding: 10px 60px;
    display: flex;
}

.link_list_item:nth-child(1) {
    cursor: pointer;
    margin-right: 30px;
    background-image: url(../images/2015-01-13_1032.png);
    background-size: 400px;
    height: 40px;
    width: 40px;
    background-position: -34px 70px;
    transition: .3s;
}

.link_list_item:nth-child(2) {
    cursor: pointer;
    margin-right: 30px;
    background-image: url(../images/2015-01-13_1032.png);
    background-size: 400px;
    height: 40px;
    width: 40px;
    background-position: -78px 70px;
    transition: .3s;
}

.link_list_item:nth-child(3) {
    cursor: pointer;
    margin-right: 30px;
    background-image: url(../images/2015-01-13_1032.png);
    background-size: 400px;
    height: 40px;
    width: 40px;
    background-position: -122px 70px;
    transition: .3s;
}

.link_list_item:nth-child(4) {
    cursor: pointer;
    margin-right: 30px;
    background-image: url(../images/2015-01-13_1032.png);
    background-size: 400px;
    height: 40px;
    width: 40px;
    background-position: -166px 70px;
    transition: .3s;
}

.link_list_item:nth-child(1):hover {
    background-position: -34px 119px;
}

.link_list_item:nth-child(2):hover {
    background-position: -78px 119px;
}

.link_list_item:nth-child(3):hover {
    background-position: -122px 119px;
}

.link_list_item:nth-child(4):hover {
    background-position: -166px 119px;
}

.scrolltop {
    position: absolute;
    color: #fff;
}

.scrolltop:hover::after {
    color: #fff;
}

.scrolltop:hover::before {
    filter: blur(40px);
}

.scrolltop:hover {
    background-color: inherit;
    color: #fff;
}

.scrolltop::after {
    content: '\2039';
    transition: .3s;
    position: absolute;
    right: 20px;
    top: 3px;
    bottom: 0;
    color: #000;
    font-size: 35px;
    transform: rotate(90deg);
}

.scrolltop::before {
    transition: .3s;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
}

.scrolltop {
    transform: translateX(50%);
    top: -150px;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    outline: none;
    padding: 15px 50px;
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.img1 {
    background-image: url(../images/banner3.jpg);
    background-attachment: fixed;
}

.img2 {
    background-image: url(../images/banner2.jpg);
    background-attachment: fixed;
}
@media (max-width:1150px){
    .blockList{
        flex-direction: column;
    }
    .blockList_item:not(:first-child){
        margin-top: 40px;
    }
    .blockList_item{
        width: 400px;
        margin: 0 auto;

    }
    .article img{
        height: 700px;
        width: 400px;
    }
}
@media (max-width:830px){
    .article{
        flex-direction: column;
        text-align: center;
    }
    .article img{
        width: 500px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .scrolltop{
        margin: 0px auto;
        right: 0;
        left: 0;
        transform: translateX(0);
    }
    
    .footer{
        flex-direction: column;
    }
}
@media (max-width:587px){
    .article img{
        width: 200px;
        height: 300px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .blockList_item{
        width:300px;
    }
    .blockList_item img{
        width: 300px;
    }
    .scrolltop{
        transform: unset;
    }
}